table {
  border-collapse: collapse;
  text-align: left;
  color: blueviolet;
  width: 100%;
}
table th,
table td {
  border: 1px solid blueviolet;
  padding: 10px;
  min-height: 160px;
}
img {
  max-width: 150px;
  width: 100%;
  height: 100%;
}
.form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
