<div class="container">
  <h1>All product List</h1>
  <p class="product_message ">{{productMessage}}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Discription</th>
        <th>Action</th>
        <th>Update</th>
      </tr>
      <tr *ngFor="let item of productList">
        <td><img src="{{item.image}}" alt=""></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.category}}</td>
        <td>{{item.discription}}</td>
        <td><button (click)="deletItem(item.id)">Delete</button></td>
        <td><a routerLink="/seller-update-product/{{item.id}}">Update</a></td>
      </tr>
    </thead>

  </table>

</div>